<!DOCTYPE html>
{% extends "esitezoneapp/base.html" %}
{% block body %}
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>About Us</h2>
                    <p>Get to know us</p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Challange Area =================-->
        <section class="challange_area p_100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="challange_text_inner">
                            <div class="l_title">
                                <img src="static/esitezoneapp/img/icon/title-icon.png" alt="">
                                <h6>Discover the features</h6>
                                <h2>We don’t hide, we stand tall in front of chalenge</h2>
                            </div>
                            <p>There's a lot that we do before actually starting the project. We do market research and analysis, understand the competitive landscape, understand and document clients’ design and branding preferences, consult with all the key stakeholders and finally come up with a high-level mapping. This brings alignment in terms of end-user persona and business needs.</p>
                            <div class="c_video">
                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=62QYQE6k7tg"><img src="img/icon/video-icon.png" alt="">See how we work </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 challange_img">
                        <div class="challange_img_inner">
                            <img class="img-fluid" src="img/popup-photo.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Challange Area =================-->
        
        <!--================Testimonials Slider Area =================-->
        <section class="testimonials_area">
            <div class="container">
                <div class="testimonials_slider owl-carousel">
                    <div class="item">
                        <div class="testi_item">
                            <h3>“We BUILD”</h3>
                            <p>Shaping the future infrastructure With A mind set of long lasting and Modern designs </p>
                            <div class="media">
                                <div class="d-flex">
                                    <img class="rounded-circle" src="img/testimonials/testi-1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <h3>“WE SUPPLY”</h3>
                            <p> Giving end user their equipment and material with touch of personalization</p>
                            <div class="media">
                                <div class="d-flex">
                                    <img class="rounded-circle" src="img/testimonials/testi-2.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <h3>“WE SECURE”</h3>
                            <p>Safeguarding your digital belongings from the virtual intruder.</p>
                            <div class="media">
                                <div class="d-flex">
                                    <img class="rounded-circle" src="img/testimonials/testi-3.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testi_item">
                            <h3>“Best Products and Services”</h3>
                            <p>We strives to provide quality products and services to all the customers.</p>
                            <div class="media">
                                <div class="d-flex">
                                    <img class="rounded-circle" src="img/testimonials/testi-1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4></h4>
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Testimonials Slider Area =================-->
        
        <!--================We Are Company Area =================-->
        <section class="we_company_area p_100">
            <div class="container">
                <div class="row company_inner">
                    <div class="col-lg-6">
                        <div class="left_company_text">
                            <div class="l_title">
                                <img src="img/icon/title-icon.png" alt="">
                                <h6>Discover the features</h6>
                                <h2>We are a <span>Website Development</span> based Company</h2>
                            </div>
                            <p>Our mission is to build long term relationship with our customers.We will always source and use top of the range products for your business.We strives to provide quality products and services to all the customers.We deliver effective connectivity solution for your business needs.Our team work with client’s need to design and develop personalized requirement.Our team work with client’s need to design and develop personalized requirement.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="company_skill">
                            <p></p>
                            <div class="our_skill_inner">
                                <div class="single_skill">
                                    <h3>Development</h3>
                                    <div class="progress" data-value="70">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">70</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Design</h3>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>SEO</h3>
                                    <div class="progress" data-value="85">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">85</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Development</h3>
                                    <div class="progress" data-value="90">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Management</h3>
                                    <div class="progress" data-value="75">
                                        <div class="progress-bar">
                                            <div class="progress_parcent"><span class="counter">75</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End We Are Company Area =================-->
        
        <!--================End We Are Company Area =================-->
        <section class="talk_area">
            <div class="container">
                <div class="talk_text">
                    <h4>Are you ready to talk?</h4>
                    <a href="mailto:esitezone.contact@gmail.com">esitezone.contact@gmail.com</a>
                </div>
            </div>
        </section>
        <!--================End We Are Company Area =================-->
{% endblock %}